* {
	font-family: InterVariable, sans-serif;
}

input[type=file] {
	width: 100%;
}

input[type=search] {
	max-width: 10em;
}

a {
	margin-right: 1em;
}

ul {
	padding: 0px;
	list-style-position: inside;
}
